<h1>Listado Heroes</h1>
<hr />

<div class="row text-right">
  <div class="col">
    <button class="btn btn-primary" [routerLink]="['/heroe', 'nuevo']">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table class="table animated fadeIn faster mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Vivo</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let heroe of Heroes; let i = index">
      <th scope="row">{{ i }}</th>
      <td>{{ heroe.nombre }}</td>
      <td>{{ heroe.poder }}</td>
      <td>{{ heroe.vivo }}</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-info text-center" role="alert">
  <strong>Cargando</strong>
  <p>
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </p>
  <p>
    Esperando cargar archivos
  </p>
</div>

<div class="alert alert-warning text-center" role="alert">
  <strong>Alerta</strong>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
  <p>
    No se encontro ningun heroe
  </p>
</div>
